{% extends 'base.html.twig' %}

{% block title %}maven.dontdrinkandroot.net{% endblock title %}

{% block body %}
    <h1>maven.dontdrinkandroot.net</h1>
    <h2>Repositories</h2>
    <ul>
        {% for mavenRepository in mavenRepositories %}
            <li><a href="{{ path('repo_directory_index', {'shortName': mavenRepository.shortName, 'path': '/'}) }}">{{ mavenRepository.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Groups</h2>
    <ul>
        {% for mavenRepositoryGroup in mavenRepositoryGroups %}
            <li>
                <a href="{{ path('group_directory_index', {'shortName': mavenRepositoryGroup.shortName, 'path': '/'}) }}">{{ mavenRepositoryGroup.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock body %}
